[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/archie1"]
	path = themes/archie1
	url = https://github.com/athul/archie.git
